@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="flex h-screen bg-gradient-to-r  from-[#04193ab4] from-0% via-sky-900 via-50% to-[#04193ab4] to-100% text-while font-sans justify-center">


    <div class="relative border-8 border-x-teal-500 border-y-green-300  bg-slate-400 h-2/4 w-2/3 my-auto border-sky-600 shadow-2xl shadow-slate-900 bg-opacity-40 border-opacity-15 rounded-3xl justify-center" style="">

        <div class="relative bg-slate-200 bg-opacity-70 w-full h-full max-h-96 max-w-xl mx-auto my-auto top-6 border-4 border-emerald-800 border-opacity-15 shadow-xl">
            asdas
        </div>

    </div>
</div>