@model List<Gamma_News.Models.ViewModels.Article>


@if (Model != null)
{
	@foreach (var article in Model)
	{
		<div class="flex h-screen text-white font-sans justify-between">
			<div class="relative border-4 border-b-green-300 border-y-yellow-300 bg-slate-400 h-2/4 w-2/3 border-sky-600 shadow-2xl shadow-slate-900 bg-opacity-20 border-opacity-15 rounded-3xl">
				<div class="relative bg-slate-200 bg-opacity-70 w-full h-full max-h-96 max-w-xl mx-auto my-auto top-6 border-4 border-emerald-800 border-opacity-15 shadow-xl">
					<div class="article-preview p-4 border-b border-gray-300">
						<h2 class="text-xl font-bold">@article.Headline</h2>
						<p class="text-gray-700">@article.Preview</p>
						<a href="/Article/@article.Id" class="text-blue-500 hover:underline">READ MORE</a>
					</div>
				</div>
			</div>
		</div>
	}
}

@* @Model[0].Preview; *@