@model List<Gamma_News.Models.ViewModels.Article>
@* 
            @if (Model != null)
{
            @foreach (var article in Model)
            {
<div class="flex h-screen bg-gradient-to-r from-[#04193ab4] from-0% via-sky-900 via-50% to-[#04193ab4] to-100% text-white font-sans justify-center">
    <div class="relative border-8 border-x-teal-500 border-y-green-300 bg-slate-400 h-2/4 w-2/3 my-auto border-sky-600 shadow-2xl shadow-slate-900 bg-opacity-40 border-opacity-15 rounded-3xl justify-center">
        <div class="relative bg-slate-200 bg-opacity-70 w-full h-full max-h-96 max-w-xl mx-auto my-auto top-6 border-4 border-emerald-800 border-opacity-15 shadow-xl">
                <div class="article-preview p-4 border-b border-gray-300">
                    <h2 class="text-xl font-bold">@article.Headline</h2>
                    <p class="text-gray-700">@article.Preview</p>
                    <a href="/Article/@article.Id" class="text-blue-500 hover:underline">READ MORE</a>
                </div>
        </div>
    </div>
</div>
            }
} *@

        @* @Model[0].Preview; *@