@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12 bg-gradient-to-r from-[#04193ab4] from-0% via-sky-900 via-50% to-[#04193ab4] to-100">
    <div class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
    <div class="relative border-2 border-y-0 border-sky-600 px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10 bg-gradient-to-r  via-emerald-700 text-slate-300">
        <div class="mx-auto max-w-md text-center font-bold">
            Do you allow us to store temporary cookies on your computer?
        </div>
        <div class="relative flex justify-center">

            <button class="relative border-2 border-y-0 border-sky-600 top-14 right-4 h-10 w-1/5 bg-slate-500 justify-center "> Yes </button>

            <button class="relative border-2 border-y-0 border-sky-600 top-14 left-4 h-10 w-1/5 bg-slate-500 justify-center "> No </button>
        </div>
        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
        </div>
        

    </div>
</div>

