@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="cookie_modal" class="">

   
    <div class="z-40 fixed inset-0 flex flex-col justify-center py-16 sm:py-12 lg:py-24  bg-gradient-to-r from-[#04193ab4] via-sky-900 to-[#04193ab4]">
    <div class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
        <div class="relative border-2 border-y-0 border-sky-600 px-6 pt-10 pb-8 drop-shadow-xl ring-1 ring-gray-900 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10 bg-gradient-to-r from-[#04193ab4] via-sky-900 to-[#04193ab4]">
        <div class="mx-auto max-w-md text-center font-bold text-slate-300">
            Do you allow us to store temporary cookies on your computer?
        </div>         
        
        <button id="slide_button"></button>

        <div class="relative flex justify-center">

            <button id="cookie_yes" class="relative border-2 border-y-0 border-sky-600 top-14 right-4 h-10 w-1/5 bg-slate-500 text-slate-300 justify-center hover:border-sky-300 "> Yes </button>

                <button id="cookie_no" class="relative border-2 border-y-0 border-sky-600 top-14 left-4 h-10 w-1/5 bg-slate-500 text-slate-300 justify-center hover:border-sky-300 "> No </button>
        </div>
        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
        </div>
        

    </div>
</div>
<div class="absolute blur-3xl scroll-auto z-10 h-screen w-screen"></div>

</div>

        