@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-while flex h-screen justify-center bg-gradient-to-r from-[#04193ab4] from-0% via-sky-900 via-50% to-[#04193ab4] to-100% font-sans">
    <div class="border-y-oragage-200 relative my-auto h-2/4 w-2/3 justify-center rounded-3xl border-8 border-sky-600 border-x-orange-200 border-opacity-15 bg-amber-300 bg-opacity-50 shadow-inner shadow-yellow-900" style="">
        <div class="relative top-6 mx-auto my-auto h-full max-h-96 w-full max-w-xl border-4 border-emerald-800 border-opacity-15 bg-slate-200 bg-opacity-50 shadow-lg shadow-amber-300">Editors Choice test</div>
    </div>
</div>
