@using Gamma_News.Services;
@using Gamma_News.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Omega News</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gamma_News.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/src/output.css" asp-append-version="true" />
</head>
<body class="bg-gradient-to-r from-[#04193ab4] from-0% via-sky-900 via-50% to-[#04193ab4] to-100% text-while font-sans">

    <header class="">
    <partial name="_Menu"></partial>

    <partial name="_LoginPartial"></partial>
    </header>
   
    <partial name="_search_partial"></partial>
    
    
    <div class="container flex justify-center mx-auto w-1/2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </>

    <footer class="absolute container text-center footer text-muted text-slate-300">
        <div class="relative justify-center" style="">
            &copy; 2024 - Omega News - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

