@using Gamma_News.Services;
@using Gamma_News.Models;
@using Gamma_News.Areas.Identity.Pages.Account.Manage;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Omega News</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gamma_News.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/src/output.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</head>
<body class="bg-gradient-to-r from-[#04193ab4] via-sky-900 to-[#04193ab4] font-sans">

    <header class="">
        <div class="scroll"></div>

    

    <partial name="_Menu"></partial>
        
        

    


    <div class="">
            
    
    </header>
   
  @*   <partial name="_search_partial"></partial> *@
    
    
    
        <main>

       

            @RenderBody()
         
        </main>
   

   


    @* <footer class="relative container mx-auto justify-center my-auto text-center footer text-muted text-slate-300">
        <div class="relative mx-auto text-center justify-center" style="">
            &copy; 2024 - Omega News - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

