@using Microsoft.AspNetCore.Identity
@using Gamma_News.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



@if (SignInManager.IsSignedIn(User))
{
    <div class="relative left-40">

<div class="" style="">
        @* <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a> *@
        
    <div class="">

        <div id="profile_container" class="">

            <button id="drop_profile_button_desktop" type="button" class="transition hover:scale-105" style="" aria-expanded="false" aria-haspopup="false">
            <img class="w-14 h-14 rounded-full z-50" style="" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </button>

            <div class="relative container bottom-16 left-5" style="">
            <span class="relative">
                <span class="absolute animate-ping inline-flex h-4 w-4 rounded-full bg-slate-300 opacity-75 top-1"></span>
                <span class="absolute rounded-full h-4 w-4 bg-green-400"></span>
            </span>
            </div>
        </div>

    <!--
      Dropdown menu, show/hide based on menu state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->

                <div id="drop_profile_desktop" class="hidden absolute z-10 w-48 rounded-md max-w-md overflow-hidden border-t-2 border-double border-teal-600 border-opacity-50 bg-gradient-to-b from-gray-800 from-0% via-sky-950 via-50% to-gray-800 to-100% font-sans right-10" style="" role="menu" aria-orientation="vertical" aria-labelledby="drop_profile_desktop" tabindex="-1">
        <!-- Active: "bg-gray-100", Not Active: "" -->
                    <a href="#" class="block text-center text-sm font-bold text-white px-4 py-2 rounded-lg hover:bg-white hover:text-slate-900" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="block w-full text-sm font-bold text-white px-4 py-2 rounded-lg hover:bg-white hover:text-slate-900" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</button>
            </form>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="block w-full text-sm font-bold text-white px-4 py-2 rounded-lg hover:bg-white hover:text-slate-900" role="menuitem" tabindex="-1" id="user-menu-item-2">Profile</button>
                    </form>
       
    </div>
</div>
    </div>
        </div>

}
else
{

    <div class="relative container mx-auto" style="left: 130px">

        <div class="relative w-14 h-14 text-center rounded-full nav-link btn btn-lg btn-primary border-y-2 border-sky-900 border-opacity-50 font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-sky-400 bg-gradient-to-br from-emerald-600 to-emerald-800" style="">
            <a class="relative top-3 leading-1 text-center" style="" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div> 

    </div>


}
   
 