@using Microsoft.AspNetCore.Identity
@using Gamma_News.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



@if (SignInManager.IsSignedIn(User))
{
<div class="relative lg:flex" style="">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    <div class="mx-auto max-w-7x">

        <div id="profile_container" class="">

            <button id="drop_profile_button_desktop" type="button" class="relative flex transition transform hover:scale-105" style="" aria-expanded="false" aria-haspopup="false">
            <img class="relative h-14 w-14 rounded-full" style="" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </button>

            <div class="relative flex" style="">
            <span class="relative">
                <span class="absolute animate-ping inline-flex h-4 w-4 rounded-full bg-blue-400 opacity-75"></span>
                <span class="relative inline-flex rounded-full h-4 w-4 bg-green-400"></span>
            </span>
            </div>
        </div>
    </div>

    <!--
      Dropdown menu, show/hide based on menu state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->

    <div id="drop_profile_desktop" class="hidden absolute flex z-10 w-48 rounded-md bg-gradient-to-b from-gray-800 from-0% via-sky-950 via-50% to-gray-800 to-100% text-while font-sans py-3 shadow-lg group-hover:bg-white" style="" role="menu" aria-orientation="vertical" aria-labelledby="drop_profile_desktop" tabindex="-1">
        <!-- Active: "bg-gray-100", Not Active: "" -->
        <a href="#" class="block text-sm font-bold text-white px-4 py-2 rounded-lg hover:bg-white hover:text-slate-900" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
        <a href="#" class="block text-sm font-bold text-white px-4 py-2 rounded-lg hover:bg-white hover:text-slate-900" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
        <a href="#" class="block text-sm font-bold text-white px-4 py-2 rounded-lg hover:bg-white hover:text-slate-900" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
    </div>
</div>
}
else
{

    <div class="relative container mx-auto" style="bottom: 90px; left: 150px">

        <div class="relative top-20 left-3/4" style="">
            <a class="relative flex w-20 nav-link btn btn-lg btn-primary justify-center rounded-md border-y-2 border-sky-900 border-opacity-50 text-sm font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-sky-800 leading-10" style="" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="relative flex w-20 top-2 nav-link btn btn-lg btn-primary justify-center rounded-md border-y-2 border-sky-900 border-opacity-50 text-sm font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-sky-800 leading-10" style="" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>

    </div>


}
   
 