@model List<Gamma_News.Models.ViewModels.Article>



<div class="relative top-60 container mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center flex-row flex p-4">
        @* basic div *@
            @if (Model != null)
            {
            @foreach (var article in Model.Where(a => a.CategoryId == 2))
                {
                 
                        <div class="grid gap-6 lg:grid-rows-2 xl:gap-x-12 ">
                            <div class="mb-6 lg:mb-0">
                                <div class="shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] relative block rounded-lg">
                                    @* image *@
                                    <div class="flex">
                                        <div class="relative mx-4 -mt-4 overflow-hidden bg-cover bg-no-repeat shadow-lg dark:shadow-black/20" data-te-ripple-init data-te-ripple-color="light">
                                            <img src="@article.ImageLink" class="w-full" />
                                    <a href="/Article/Details/@article.Id">
                                                <div class="opacity-0 bg-[hsla(0,0%,98.4%,.15)] absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed transition duration-300 ease-in-out hover:opacity-100">
                                                    <img src="@article.ImageLink" class="w-full" />
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    @* text *@
                                    <div class="p-6">
                                        <h5 class="mb-3 text-lg font-bold text-white">@article.Headline</h5>
                                        <p class="mb-4 text-gray-300 dark:text-neutral-300">
                                            <small>
                                                Anna Maria Doe
                                                Published
                                                <u>13.01.2022</u>
                                            </small>
                                        </p>
                                        <p class="mb-4 pb-2 text-white">
                                            @article.Preview
                                        </p>
                                        @* ReadMore link *@
                                <a href="/Article/Details/@article.Id" data-te-ripple-init data-te-ripple-color="light" class="bg-primary shadow-[0_4px_9px_-4px_#3b71ca] inline-block rounded-full px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                                            Read
                                            more
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                 
                }
            }
    </section>
    <!-- Section: Design Block -->
</div>


@* layout without template *@
<div>
    @* <div>
    <div style="background-color:#162C3E; height:80vh;display:flex; flex-direction:row; padding:80px;margin-bottom:150px;" class="w-full">

    <div style="display:flex;flex-direction:column;margin-right:20px;">

    <div style="height:20vh;background-color:#ffffff;padding:26px;">
    <button class="mt-4 px-4 py-2 font-bold text-white hover:bg-blue-700">
    image
    </button>
    </div>

    <div style="height:10vh;display:flex;flex-direction:column;margin-bottom:25px;margin-bottom:25px;">
    <div style="display:flex;flex-direction:row;gap:137px;">
    <p class="text-xl font-bold text-white">
    authors name
    </p>

    <p class="text-xl font-bold text-white">
    time
    </p>

    </div>

    <p class="text-xs font-bold text-white">
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    Vestibulum hendrerit nunc diam, nec mattis sapien venenatis eu.
    Donec placerat sodales gravida.
    </p>



    </div>
    </div>
    <div style="display:flex;flex-direction:column;margin-right:20px;">

    <div style="height:20vh;background-color:#ffffff;padding:26px;">
    <button class="mt-4 px-4 py-2 font-bold text-white hover:bg-blue-700">
    image
    </button>
    </div>

    <div style="height:10vh;display:flex;flex-direction:column;margin-bottom:25px;margin-bottom:25px;">
    <div style="display:flex;flex-direction:row;gap:137px;">
    <p class="text-xl font-bold text-white">
    authors name
    </p>

    <p class="text-xl font-bold text-white">
    time
    </p>

    </div>

    <p class="text-xs font-bold text-white">
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    Vestibulum hendrerit nunc diam, nec mattis sapien venenatis eu.
    Donec placerat sodales gravida.
    </p>



    </div>
    </div>
    <div style="display:flex;flex-direction:column;margin-right:20px;">

    <div style="height:20vh;background-color:#ffffff;padding:26px;">
    <button class="mt-4 px-4 py-2 font-bold text-white hover:bg-blue-700">
    image
    </button>
    </div>

    <div style="height:10vh;display:flex;flex-direction:column;margin-bottom:25px;margin-bottom:25px;">
    <div style="display:flex;flex-direction:row;gap:137px;">
    <p class="text-xl font-bold text-white">
    authors name
    </p>

    <p class="text-xl font-bold text-white">
    time
    </p>

    </div>

    <p class="text-xs font-bold text-white">
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    Vestibulum hendrerit nunc diam, nec mattis sapien venenatis eu.
    Donec placerat sodales gravida.
    </p>



    </div>
    </div>
    <div style="display:flex;flex-direction:column;margin-right:20px;">

    <div style="height:20vh;background-color:#ffffff;padding:26px;">
    <button class="mt-4 px-4 py-2 font-bold text-white hover:bg-blue-700">
    image
    </button>
    </div>

    <div style="height:10vh;display:flex;flex-direction:column;margin-bottom:25px;margin-bottom:25px;">
    <div style="display:flex;flex-direction:row;gap:137px;">
    <p class="text-xl font-bold text-white">
    authors name
    </p>

    <p class="text-xl font-bold text-white">
    time
    </p>

    </div>

    <p class="text-xs font-bold text-white">
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    Vestibulum hendrerit nunc diam, nec mattis sapien venenatis eu.
    Donec placerat sodales gravida.
    </p>



    </div>
    </div>

    </div>


    </div> *@

</div>



