@model List<Gamma_News.Models.ViewModels.Article>
@{



}

@if (Model != null)
{
    @foreach (var article in Model.Where(a => a.CategoryId == 1))
    {
        
            <div class="border-4 container relative mx-auto my-auto mb-10 max-w-2xl space-x-5 space-y-5 rounded-3xl border-sky-600 border-y-yellow-300 border-b-green-300 border-opacity-15 text-center shadow-2xl shadow-slate-900 transition hover:scale-105 hover:border-y-[#EB6E4B] hover:border-x-[#EB6E4B] sm:py-8">
                <img class="container h-96 transform content-center" src="@article.ImageLink" />
                <div class="">
                    <div class="border-4 relative bottom-0 top-auto mx-auto my-auto max-h-96 max-w-xl border-emerald-800 border-opacity-15 bg-slate-200 shadow-xl">
                        <div class="article-preview border-b border-gray-300 p-4">
                            <h2 class="text-xl font-bold">@article.Headline</h2>
                            <p class="text-gray-700">@article.Preview</p>
                            <a href="/Article/Details/@article.Id" class="text-blue-500 hover:underline">
                                READ MORE
                                </a>
                        </div>
                    </div>
                </div>
            </div>
       
    }
}







@* row1 layout without template *@
<div>
    @* <div>
    <div style="height:80vh;display:flex; flex-direction:row; padding-left:80px; padding-right:80px; margin-top:85px; margin-bottom:150px;" class="w-full">
    <div style="width:28vw;display:flex;flex-direction:column;margin-right:20px;">

    <div class="container mx-auto my-24 md:px-6">
    <section class="mb-32 text-center md:text-left">
    <div class="shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] block rounded-lg  dark:bg-neutral-700">
    <div class="flex flex-wrap items-center">
    <div class="shrink-0 grow-0 block w-full basis-auto md:w-4/12 lg:flex">
    <img src="#"
    alt="Trendy Pants and Shoes"
    class="w-full rounded-t-lg md:rounded-tr-none md:rounded-bl-lg" />
    </div>
    <div class="shrink-0 grow-0 w-full basis-auto md:w-8/12">
    <div class="px-6 py-12 md:px-12 text-white">
    <h2 class="mb-6 text-3xl font-bold">
    <span class="text-danger dark:text-danger-500">
    <h2>Headline</h2>
    </span>
    </h2>
    <p class="mb-6 pb-2 text-white dark:text-neutral-300">
    Preview
    </p>
    <button type="button"
    class="bg-danger shadow-[0_4px_9px_-4px_#dc4c64] inline-block rounded-full px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(220,76,100,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)]"
    data-te-ripple-init
    data-te-ripple-color="light">
    READ MORE
    </button>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>

    <div style="height:20vh;display:flex;flex-direction:row;background-color:#162C3E;margin-bottom:25px;">
    <div style="width:50vw;background-color:#ffffff;">
    image
    </div>

    <div style="display:flex;flex-direction:column;padding:20px;">
    <p class="text-xs font-bold text-white">
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    Vestibulum hendrerit nunc diam, nec mattis sapien venenatis eu. Donec placerat sodales gravida.
    </p>
    </div>
    </div>


    <div style="height:10vh;display:flex;flex-direction:row;margin-bottom:25px;margin-bottom:25px;">
    <p class="text-xs font-bold text-white">
    Introduction for an advertisement
    </p>
    </div>


    <div style="height:20vh;background-color:#162C3E;padding:26px;">
    <button class="mt-4 px-4 py-2 font-bold text-white hover:bg-blue-700">
    Advertisement
    </button>
    </div>
    </div>

    <div style="width:44vw;display:flex;flex-direction:column;background-color:#162C3E;margin-right:20px;">
    <div style="height:50vh;display:flex;flex-direction:column;background-color:#ffffff;margin-bottom:25px;">
    image
    </div>

    <div style="height:50vh;display:flex;flex-direction:column;background-color:#162C3E;padding:55px;margin-top:34px;">

    <div style="margin-bottom:26px;">
    <div class="text-xL font-bold text-white">
    <h1>Headline</h1>
    </div>

    <div class="text-xs font-bold text-white">
    <p>
    Ut consectetur dolor augue, sed molestie erat porttitor at.
    Cras lacus lorem, lacinia in imperdiet eu, molestie at metus.
    Integer ut libero eget dui euismod commodo vitae eu lorem.
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    Vestibulum hendrerit nunc diam, nec mattis sapien venenatis eu. Donec placerat sodales gravida.
    </p>
    </div>
    </div>


    <div style="display:flex;flex-direction:row;padding-left:55px;padding-right:55px;justify-content:space-between;margin-top:34px;">
    <div style="display:flex;flex-direction:row;gap:30px">

    <button style="background-color:#ffffff; margin:auto" class="h-10 w-10 rounded-full bg-blue-500 font-bold text-white hover:bg-blue-700">
    </button>

    <div style="margin:10px;" class="text-xl font-bold text-white">
    <p>AUTHORS NAME</p>
    </div>
    </div>

    <button style="border:3px solid #ffffff" class="mt-4 rounded px-4 py-2 font-bold text-white hover:bg-blue-700">
    Read More
    </button>

    </div>



    </div>

    </div>

    <div style="width:28vw;display:flex;flex-direction:column;">
    <div style="height:25vh;display:flex;flex-direction:column;background-color:#162C3E;margin-bottom:25px;padding:55px;">
    <div class="text-xl font-bold text-white">
    EditorsChoice
    </div>
    </div>

    <div style="height:20vh;display:flex;flex-direction:row;background-color:#162C3E;margin-bottom:25px;">
    <div style="width:50vw;background-color:#ffffff;">
    image
    </div>

    <div class="text-xs font-bold text-white" style="display:flex;flex-direction:column;padding:20px;">
    <p>
    Ut consectetur dolor augue, sed molestie erat porttitor at.
    Cras lacus lorem, lacinia in imperdiet eu, molestie at metus.
    Integer ut libero eget dui euismod commodo vitae eu lorem.
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    </p>
    </div>

    </div>

    <div style="height:20vh;display:flex;flex-direction:row;background-color:#162C3E;margin-bottom:25px;">
    <div style="width:50vw;background-color:#ffffff;">
    image
    </div>

    <div class="text-xs font-bold text-white" style="display:flex;flex-direction:column;padding:20px;">
    <p>
    Ut consectetur dolor augue, sed molestie erat porttitor at.
    Cras lacus lorem, lacinia in imperdiet eu, molestie at metus.
    Integer ut libero eget dui euismod commodo vitae eu lorem.
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    </p>
    </div>

    </div>

    <div style="height:20vh;display:flex;flex-direction:row;background-color:#162C3E;margin-bottom:25px;">
    <div style="width:50vw;background-color:#ffffff;">
    image
    </div>

    <div class="text-xs font-bold text-white" style="display:flex;flex-direction:column;padding:20px;">
    <p>
    Ut consectetur dolor augue, sed molestie erat porttitor at.
    Cras lacus lorem, lacinia in imperdiet eu, molestie at metus.
    Integer ut libero eget dui euismod commodo vitae eu lorem.
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    </p>
    </div>

    </div>

    <div style="display:flex;flex-direction:row;height:10vh;background-color:#162C3E;padding:26px;">
    <button class="mt-4 px-4 py-2 font-bold text-white hover:bg-blue-700">
    sign up
    </button>
    </div>


    </div>

    </div>

    </div> *@
</div>
























@* layout without template *@
<div>
    @* <div>
    <div style="height:80vh;display:flex; flex-direction:row; padding-left:80px; padding-right:80px; margin-top:85px; margin-bottom:150px;" class="w-full">
    <div style="width:28vw;display:flex;flex-direction:column;margin-right:20px;">

    <div style="height:50vh;display:flex;flex-direction:row;background-color:#162C3E;margin-bottom:25px;">
    <div style="width:50vw;display:flex;flex-direction:column;background-color:#162C3E;padding:20px;margin:auto">
    <div class="text-xl font-bold text-white">
    <h3>Russia started War!</h3>
    </div>

    <div class="text-xs font-bold text-white">
    <p>
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    Vestibulum hendrerit nunc diam, nec mattis sapien venenatis eu.
    Donec placerat sodales gravida.
    </p>
    </div>

    <button style="border:3px solid #ffffff" class="mt-4 rounded px-4 py-2 font-bold text-white hover:bg-blue-700">
    READ MORE
    </button>
    </div>

    <div style="width:50vw;background-color:#ffffff;">
    image
    </div>
    </div>

    <div style="height:20vh;display:flex;flex-direction:row;background-color:#162C3E;margin-bottom:25px;">
    <div style="width:50vw;background-color:#ffffff;">
    image
    </div>

    <div style="display:flex;flex-direction:column;padding:20px;">
    <p class="text-xs font-bold text-white">
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    Vestibulum hendrerit nunc diam, nec mattis sapien venenatis eu. Donec placerat sodales gravida.
    </p>
    </div>
    </div>


    <div style="height:10vh;display:flex;flex-direction:row;margin-bottom:25px;margin-bottom:25px;">
    <p class="text-xs font-bold text-white">
    Russia started War!Russia started War!Russia started WarRussia started War!Russia started War!
    Russia started War!Russia started War!Russia started War!Russia started War!Russia started War!!
    </p>
    </div>


    <div style="height:20vh;background-color:#162C3E;padding:26px;">
    <button class="mt-4 px-4 py-2 font-bold text-white hover:bg-blue-700">
    Advertisement
    </button>
    </div>
    </div>

    <div style="width:44vw;display:flex;flex-direction:column;background-color:#162C3E;margin-right:20px;">
    <div style="height:50vh;display:flex;flex-direction:column;background-color:#ffffff;margin-bottom:25px;">
    image
    </div>

    <div style="height:50vh;display:flex;flex-direction:column;background-color:#162C3E;padding:55px;margin-top:34px;">

    <div style="margin-bottom:26px;">
    <div class="text-xL font-bold text-white">
    <h1>Russia started War!</h1>
    </div>

    <div class="text-xs font-bold text-white">
    <p>
    Ut consectetur dolor augue, sed molestie erat porttitor at.
    Cras lacus lorem, lacinia in imperdiet eu, molestie at metus.
    Integer ut libero eget dui euismod commodo vitae eu lorem.
    Nullam orci nunc, ultricies sit amet bibendum eu, blandit et enim.
    Suspendisse potenti. Cras quis venenatis diam, ac suscipit velit.
    Donec quis erat volutpat, tristique sem at, tincidunt felis.
    Vestibulum hendrerit nunc diam, nec mattis sapien venenatis eu. Donec placerat sodales gravida.
    </p>
    </div>
    </div>


    <div style="display:flex;flex-direction:row;padding-left:55px;padding-right:55px;justify-content:space-between;margin-top:34px;">
    <div style="display:flex;flex-direction:row;gap:30px">

    <button style="background-color:#ffffff; margin:auto" class="h-10 w-10 rounded-full bg-blue-500 font-bold text-white hover:bg-blue-700">
    </button>

    <div style="margin:10px;" class="text-xl font-bold text-white">
    <p>AUTHORS NAME</p>
    </div>
    </div>

    <button style="border:3px solid #ffffff" class="mt-4 rounded px-4 py-2 font-bold text-white hover:bg-blue-700">
    Read More
    </button>

    </div>



    </div>

    </div>

    <div style="width:28vw;display:flex;flex-direction:column;">
    <div style="height:25vh;display:flex;flex-direction:column;background-color:#162C3E;margin-bottom:25px;padding:55px;">
    <div class="text-xl font-bold text-white">
    EditorsChoice
    </div>
    </div>

    <div style="height:20vh;display:flex;flex-direction:row;background-color:#162C3E;margin-bottom:25px;">
    <div style="width:50vw;background-color:#ffffff;">
    image
    </div>

    <div class="text-xs font-bold text-white" style="display:flex;flex-direction:column;padding:20px;">
    <p>Russia started War!Russia started War!Russia started War!</p>
    </div>

    </div>

    <div style="height:20vh;display:flex;flex-direction:row;background-color:#162C3E;margin-bottom:25px;">
    <div style="width:50vw;background-color:#ffffff;">
    image
    </div>

    <div class="text-xs font-bold text-white" style="display:flex;flex-direction:column;padding:20px;">
    <p>Russia started War!Russia started War!Russia started War!</p>
    </div>

    </div>

    <div style="height:20vh;display:flex;flex-direction:row;background-color:#162C3E;margin-bottom:25px;">
    <div style="width:50vw;background-color:#ffffff;">
    image
    </div>

    <div class="text-xs font-bold text-white" style="display:flex;flex-direction:column;padding:20px;">
    <p>Russia started War!Russia started War!Russia started War!</p>
    </div>

    </div>

    <div style="display:flex;flex-direction:row;height:10vh;background-color:#162C3E;padding:26px;">
    <button class="mt-4 px-4 py-2 font-bold text-white hover:bg-blue-700">
    sign up
    </button>
    </div>


    </div>

    </div>

    </div> *@
</div>