@{



    <div class="relative justify-center lg:flex mx-auto gap-x-8 gap-y-8" style="">
        <div class="sm:col-span-5" style="width: 50%">
            <label for="Search" class="block text-sm font-medium leading-6 text-slate-300"></label>
            <div class="mt-1">
                <div class="rounded-md border-sky-900 shadow-inner shadow-gray-700 text-black" style="">
                    <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm"></span>
                    <input type="text" name="username" id="username" autocomplete="" class="block w-full flex-1 border-0 bg-transparent py-1.5 pl-2 text-slate-100 placeholder:text-gray-100 focus:ring-0 sm:text-sm sm:leading-7" placeholder="Search">
                </div>
            </div>
        </div>
    </div>

}

