@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="container mx-auto">

<h1 class="text-slate-300 font-bold">Manage your account</h1>

<div>
        <h2 class="text-slate-300 ">Change your account settings</h2>

    <div class="">
            <div class="relative">
            <partial name="_ManageNav" />
        </div>
        <div class="relative col-md-9 justify-center">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

</div>