@using Gamma_News.Areas.Identity.Pages.Account.Manage;
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
    @if (ManageNavPages.Index != "Index")
    {
        <div class="relative top-60">
            <partial name="_ManageNav" />
        </div>
            @RenderBody();
    }
    else {

            @RenderBody();
    }



@section Scripts {
    @RenderSection("Scripts", required: false)
}
