@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
@using Gamma_News.Services;
@model Gamma_News.Models.Weather;


        <div id="menu_weather_container" class="relative">
            <div class="flex-auto transition transform hover:scale-105" style="width: 40%">
         <a class="" asp-controller="Weather" asp-action="Index">
                <p class="relative p-2 text-slate-300 font-bold" style="margin-left:-21%; margin-top: -27%;">@Model.City</p>
               
                    <img class="relative sm:shrink-1 -right-8" src="@Model.Icon.Url" style="margin-top: -35%; margin-left: -60%" />
                    <p class="relative text-slate-300 font-bold" style="margin-left: 13%; margin-top: -20%">@Model.TemperatureC°C<p />
            </a>
                </div>
            </div>
        

}
