
@{
    ViewData["Title"] = "Local";
}



<h1>Local</h1> @* this template is for homepage *@

<div class="flex h-screen items-center justify-center" style="display:flex;flex-direction:column;padding:65px;">
    
    <div style="display:flex;flex-direction:column;height:64vh;" class="w-full">
        
       
      <partial name="_row2"></partial> 
        
       <partial name="_row3"></partial> 

        <partial name="_row4"></partial>

        <partial name="_row5"></partial>

        <partial name="_row6"></partial>
        <partial name="_row1"></partial>


    </div>
</div>



