@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@* Using a Model
If your view is strongly-typed to a model that
includes ArticleId, you would simply use the model's property:
*@




<div class="relative left-40" style="display:flex;/* flex-direction:row; */background-color:#1C82CA;/* padding:16px; */padding:32px;">

    <div class="top-60" style="width:60%;display:flex;flex-direction:column;/* padding:16px; */border-radius:2px;">

        <div style="display:flex;flex-direction:row;">
            <div style="display:flex;/* flex-direction:column; */">
                <div class="font-bold text-white text-xl">
                    Signed in
                </div>
                <p class="text-white text-xs">
                    This users email address.                             Not you? Log out
                </p>
            </div>
        </div>
        <div class="flex-2" style="width:40%;display:flex;flex-direction:column;">
            <div class="text-white font-bold text-xl mb-2">
                Payment
            </div>
            <div class="isolate py-24 sm:py-32">

                <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">

                    <div class="sm:col-span-2">
                        <label for="email" class="block text-lg font-semibold leading-6 text-white">First name</label>
                        <div class="mt-2.5">
                            <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="email" class="block text-lg font-semibold leading-6 text-white">Last name</label>
                        <div class="mt-2.5">
                            <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="email" class="block text-lg font-semibold leading-6 text-white">Card number</label>
                        <div class="mt-2.5">
                            <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div class="sm:col-span-2" style="display:flex;flex-direction:row;">
                        <div>
                            <label for="email" class="block font-semibold leading-6 text-center text-lg text-white">EXP</label>
                            <div class="mt-2.5 px-3">
                                <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div>
                            <label for="email" class="block font-semibold leading-6 text-center text-lg text-white">CVV</label>
                            <div class="mt-2.5 px-3">
                                <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div>
                            <label for="email" class="block font-semibold leading-6 text-center text-lg text-white">ZIP</label>
                            <div class="mt-2.5 px-3">
                                <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="email" class="block text-lg font-semibold leading-6 text-white">Email</label>
                        <div class="mt-2.5">
                            <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>


                </div>
            </div>
            <div style="display:flex;flex-direction:row;">
                <button style="background-color:#146094" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Swish
                </button>
                <button style="background-color:#146094" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Pay using your Swish account or credit card
                </button>
            </div>
        </div>
    </div>


    <div style="display:flex;flex-direction:column;padding:16px;border-radius:2px;">

        <div style="display:flex;flex-direction:column;padding:10px;width:250px;height:100px;">

            <div class="bg-white py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <div class="lg:max-w-none lg:mx-0 max-w-2xl mx-auto ring-1 ring-gray-200 rounded-3xl">
                        <div class="lg:flex-auto">
                            <div class="flex gap-x-4 items-center mt-10"></div>
                        </div>
                        <div class="lg:max-w-md">
                            <div class="bg-gray-50 lg:flex-col lg:py-16 ring-gray-900/5 ring-inset rounded-2xl text-center">
                                <div class="mx-auto max-w-xs px-8">
                                    <h3 class="text-2xl font-bold tracking-tight text-gray-900">Subscribe Plan</h3>
                                    <p class="text-base font-semibold text-gray-600">Pay once, own it forever</p>
                                    <p class="mt-6 flex items-baseline justify-center gap-x-2">
                                        <span class="text-5xl font-bold tracking-tight text-gray-900">$99.9</span>
                                        <span class="text-sm font-semibold leading-6 tracking-wide text-gray-600">KR</span>
                                    </p>
                                    <a href="#" class="mt-10 block w-full rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Subscribe now</a>
                                    <p class="mt-6 text-xs leading-5 text-gray-600">Invoices and receipts available for you</p>
                                    <button style="background-color:#176EAB" class="mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Pay
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>

        @*  Payment Button *@

        @*  <div class="container mx-auto px-4">

        <button class="inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-150 ease-in-out"
        onclick="location.href='@Url.Action("Subscribe", "UserSubscribe")'">
        Choose your way to pay
        </button>

        </div> *@
        @*  // <script>
        //     document.getElementById('featureButton').addEventListener('click', function () {
        //         // Use Razor syntax to generate the URL for the Subscribe page
        //         window.location.href = '@Url.Page("/Subscribe")'; // For Razor Pages
        //         // Or for MVC: window.location.href = '@Url.Action("ActionName", "ControllerName")';
        //     });
        // </script> *@
    </div>

</div>

<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('tailwindcss/forms'),
    ],
  }
  ```
-->




