@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@* Using a Model
If your view is strongly-typed to a model that
includes ArticleId, you would simply use the model's property:
*@


<div style="display:flex;flex-direction:row; background-color:#104870;">
    <div style="background-color:#162c3e;display:flex;flex-direction:column;padding:16px;border-radius:2px;margin-right:30px;margin-left:30px;">
        <div style="border:1px solid #104870;display:flex;flex-direction:row;justify-content:space-between; padding:30px;margin:30px">
            <div style="display:flex;flex-direction:row; gap: 30px">
                <button style="background-color:#ffffff; margin:auto" class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-10 h-10 rounded-full">
                </button>

                <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                    <div class="font-bold text-xl text-custom-blue">
                        Signed in
                    </div>

                    <div class="display:flex;flex-direction:row;">
                        <p class="text-white text-xs">
                            This users email address.
                        </p>
                        <p class="text-white text-xs">
                            Not you? Log out.
                        </p>
                    </div>
                </div>
            </div>
            <button style="background-color:#146094" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                BankID
            </button>
        </div>

        <div style="border:1px solid #104870;display:flex;flex-direction:row;justify-content:space-between;padding:30px; margin:30px">
            <div style="display:flex;flex-direction:row; gap: 30px">
                <button style="background-color:#ffffff; margin:auto" class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-10 h-10 rounded-full">
                </button>
                <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                    <div class="font-bold text-white text-xl">
                        Payment
                    </div>
                </div>
            </div>
        </div>

        <div style="border:1px solid #104870;display:flex;flex-direction:column;justify-content:space-between;padding:30px; margin:30px">
            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px; margin:30px;gap: 30px">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <button style="background-color:#ffffff; margin:auto" class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-5 h-5 rounded-full">
                    </button>

                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Credit Card
                        </div>

                        <div class="display:flex;flex-direction:row;">
                            <p class="text-white text-xs">
                                Sales and instant payments using your credit or debit card.
                            </p>
                        </div>
                    </div>
                </div>
                <div style="display:flex;flex-direction:row; gap: 8px">
                    <button style="background-color:#162C3E;border:1px solid #ffffff;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        xxxx
                    </button>
                    <button style="background-color:#162C3E;border:1px solid #ffffff;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        xxxx
                    </button>
                    <button style="background-color:#162C3E;border:1px solid #ffffff;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        xxxx
                    </button>
                    <button style="background-color:#162C3E;border:1px solid #ffffff;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        xxxx
                    </button>
                </div>
            </div>

            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px; margin:30px">
                <button style="background-color:#162C3E;border:1px solid #ffffff;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Name on card
                </button>
                <button style="background-color:#162C3E;border:1px solid #ffffff;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Card number
                </button>
                <button style="background-color:#162C3E;border:1px solid #ffffff;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Exp
                </button>
                <button style="background-color:#162C3E;border:1px solid #ffffff;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    CVV
                </button>
                <button style="background-color:#162C3E;border:1px solid #ffffff;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Zip
                </button>
            </div>

            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px; margin:30px">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <button style="background-color:#ffffff; margin:auto" class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-5 h-5 rounded-full">
                    </button>

                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Swish
                        </div>

                        <div class="display:flex;flex-direction:row;">
                            <p class="text-white text-xs">
                                Pay using your Swish account or credit card
                            </p>
                        </div>
                    </div>
                </div>
                <div style="display:flex;flex-direction:row; gap: 8px">
                    <button style="background-color:#162C3E;border:1px solid #ffffff;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        xxxx
                    </button>
                </div>
            </div>
        </div>


        <div style="border:1px solid #104870;display:flex;flex-direction:row;justify-content:space-between; padding:30px;margin:30px">
            <div style="display:flex;flex-direction:row; gap: 30px">
                <button style="background-color:#146094; margin:auto" class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-10 h-10 rounded-full">
                </button>
                <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                    <div class="font-bold text-white text-xl">
                        Add-ons
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div style=" background-color:#162c3e;display:flex;flex-direction:column;padding:16px;border-radius:2px;margin-right:30px;margin-left:30px;">

        <div style="border:1px solid #104870;background-color:#162c3e;display:flex;flex-direction:row;padding:16px;border-radius:2px;">
            <div class="font-bold text-xl text-white">
                Order Summary
            </div>
        </div>
        

        <div style="border:1px solid #104870;background-color:#162c3e;display:flex;flex-direction:row;padding:16px;border-radius:2px;">
            <button style="background-color:#ffffff" class="mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <div class="font-bold text-xl text-black">
                    Yearly
                </div> 
            </button>
            <button style="background-color:#176EAB" class="mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <div class="font-bold text-xl text-black">
                    Monthly
                </div>
            </button>
             
        </div>

        <div style="border:1px solid #104870;background-color:#162c3e;display:flex;flex-direction:column;padding:16px;border-radius:2px;">
            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px;">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Plan:
                        </div>
                    </div>
                    <button style="background-color:#ffffff" class="mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    </button>
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xs">
                            Edit
                        </div>
                    </div>
                </div>
            </div>

            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px;">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <button style="background-color:#ffffff" class="mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    </button>
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Unlimited Articles
                        </div>
                    </div>
                   
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xs">
                            1000+
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px; ">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <button style="background-color:#ffffff" class="mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    </button>
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Unlimited Articles
                        </div>
                    </div>

                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xs">
                            1000+
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px;">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <button style="background-color:#ffffff" class="mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    </button>
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Unlimited Articles
                        </div>
                    </div>

                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xs">
                            1000+
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px;">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <button style="background-color:#ffffff" class="mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    </button>
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Unlimited Articles
                        </div>
                    </div>

                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xs">
                            1000+
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div style="border:1px solid #104870;background-color:#162c3e;display:flex;flex-direction:column;padding:16px;border-radius:2px;">
            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px;">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Regular Price
                        </div>
                    </div>
                    
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xs">
                            99,99kr
                        </div>
                    </div>
                </div>
            </div>

            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px;">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Discounted Price
                        </div>
                    </div>

                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xs">
                            59,99kr
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px;">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Promo Code
                        </div>
                    </div>

                    <button style="background-color:#ffffff; margin:auto" class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-5 h-5 rounded-full">
                    </button>
                </div>
            </div>
            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px;">
                <div style="display:flex;flex-direction:row; gap: 30px">
                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xl">
                            Total
                        </div>
                    </div>

                    <div style="display:flex;flex-direction:column; margin:auto; gap:10px">
                        <div class="font-bold text-white text-xs">
                            59,99kr
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button style="background-color:#176EAB" class="mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Pay
        </button>
    </div>

</div>





@*  Payment Button *@

@*  <div class="container mx-auto px-4">

        <button class="inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-150 ease-in-out"
        onclick="location.href='@Url.Action("Subscribe", "UserSubscribe")'">
        Choose your way to pay
        </button>

        </div> *@
@*  // <script>
        //     document.getElementById('featureButton').addEventListener('click', function () {
        //         // Use Razor syntax to generate the URL for the Subscribe page
        //         window.location.href = '@Url.Page("/Subscribe")'; // For Razor Pages
        //         // Or for MVC: window.location.href = '@Url.Action("ActionName", "ControllerName")';
        //     });
        // </script> *@

@* <div style="display:flex;flex-direction:column;padding:10px;width:250px;height:100px;">

            <div class="bg-white py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <div class="lg:max-w-none lg:mx-0 max-w-2xl mx-auto ring-1 ring-gray-200 rounded-3xl">
                        <div class="lg:flex-auto">
                            <div class="flex gap-x-4 items-center mt-10"></div>
                        </div>
                        <div class="lg:max-w-md">
                            <div class="bg-gray-50 lg:flex-col lg:py-16 ring-gray-900/5 ring-inset rounded-2xl text-center">
                                <div class="mx-auto max-w-xs px-8">
                                    <h3 class="text-2xl font-bold tracking-tight text-gray-900">Subscribe Plan</h3>
                                    <p class="text-base font-semibold text-gray-600">Pay once, own it forever</p>
                                    <p class="mt-6 flex items-baseline justify-center gap-x-2">
                                        <span class="text-5xl font-bold tracking-tight text-gray-900">$99.9</span>
                                        <span class="text-sm font-semibold leading-6 tracking-wide text-gray-600">KR</span>
                                    </p>
                                    <a href="#" class="mt-10 block w-full rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Subscribe now</a>
                                    <p class="mt-6 text-xs leading-5 text-gray-600">Invoices and receipts available for you</p>
                                    <button style="background-color:#176EAB" class="mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Pay
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> *@

